body {
	background-color: #f2f9ff;
	margin: 0;
	padding: 0;
	font-family: Arial;
	text-align: center;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #9dcbee;
}



/* Header dingen */
#header {
	height: 200px;
	background-color: #054b81;
	width: 100%;
}

.headerText {
	font-size: 50px;
	color: #9dcbee;
	width: 235px;
	border: 5px solid #9dcbee;
	border-radius: 10px;
	padding-bottom: 5px;
}

#headerProjecten {
	width: 43.5%;
	margin-top: 65px;
	color: #9dcbee;
	float: left;
}

#headerProjecten p {
	margin: auto;
}

#headerLogo {
	float: left;
	width: 13%;
}

#headerOverMij {
	width: 43%;
	margin-top: 65px;
	float: right;
}

#headerLogo img {
	margin-top: 20px;
	border: 5px solid #9dcbee;
	border-radius: 50%;
}

#headerOverMij p {
	margin: auto;
}




/*portfolio*/
.headings {
	font-size: 30px;
}

#line {
	height: 2px;
	background-color: black;
}

.recent {
	font-size: 25px;
	margin-top: 50px;
}

#nakijken_titel {
	font-size: 20px;
}

.nakijken {
	font-weight: normal;
	font-size: 15px;
}




/*previews*/
#video_home {
	float: left;
	width: 33.4%;
}

#video_home img {
	width: 200px;
	height: 200px;
	border: 3px solid black;
	border-radius: 50%;
}

#pencil_home {
	float: left;
	width: 33.3%;
}

#pencil_home img {
	width: 200px;
	height: 200px;
	border: 3px solid black;
	border-radius: 50%;
}

#tinker_home {
	float: left;
	width: 33.3%;
}

#tinker_home img {
	width: 200px;
	height: 200px;
	border: 3px solid black;
	border-radius: 50%;
}



/*beschrijving*/
.beschrijving {
	width: 250px;
	border: 2px solid black;
	border-radius: 10px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 25px; 
	visibility: hidden;
}

.beschrijving p {
	font-size: 20px;
	font-weight: normal;
	margin: 5px 1px 5px 1px;
}

#video_home a:hover + .beschrijving {
	visibility: visible;
}

#pencil_home a:hover + .beschrijving {
	visibility: visible;
}

#tinker_home a:hover + .beschrijving {
	visibility: visible;
}




/*Projecten pagina*/
#projecten_separator {
	width: 100%;
}

#projecten_deliverables {
	float: left;
	width: 50%;
}

#projecten_dump {
	float: left;
	width: 50%;
}

.project_container {
	height: 200px;
}

.project_container a {
	text-decoration: none;
	color: black;
}

.title {
	font-size: 25px;
	text-align: left;
	margin-left: 25px;
	margin-bottom: 10px;
}

.project_img {
	text-align: left;
	float: left;
	margin-left: 25px;
	margin-right: 25px;
}

.project_img img {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	border-radius: 50%;
	display: block;
}

.project_text {
	width: 400px;
	text-align: left;
	float: left;
}

.project_text p {
	margin-top: 0px;
	font-weight: normal;
}




/*Over mij Pagina*/
#overmij_container {
	height: 300px;
	margin-top: 30px;
	margin-left: 30px;
}

#overmij_img {
	width: 300px;
	height: 300px;
	float: left;
	border: 2px solid black;
	margin-right: 30px;
}

#overmij_beschrijving {
	text-align: left;
	float: left;
	font-weight: normal;
	font-size: 20px;
	width: 600px;
}



/*Video pagina*/
.videopagina_text {
	font-weight:normal;
	font-size:20px;
	width:40%;
	margin:auto;
	margin-top:30px;
	margin-bottom: 60px;
}



/*Pencil pagina*/
.pencilpagina_titel {
	font-weight: normal;
	font-size: 15px;
	font-style: italic;
}





/*Interactie pagina*/
.interactie {
	width: 50%;
	float: left;
	font-weight: normal;
	text-align: left;
}

.interactie img {
	width: 100%;
}

.interactie p {
	margin: 0px 0px 0px 30px;
}

hr {
	margin-bottom: 30px;
	margin-top: 30px;
}

#powerpointlink {
	margin-top: 30px;
	margin-bottom: 30px;
}

.test {
	display: inline-block;
}